*~
model.log
*/input.csv
__pycache__
.python-version
/output/*
metadata/*
venv/
.DS_Store
.Rhistory
.Rproj.user/
post-covid-autoimmune.Rproj
analysis/workspace.code-workspace
analysis/Untitled.ipynb
.Rproj.user*
.Rproj.user
tmp/*
analysis/specify_paths.R